body {
    font-family: "Raleway", sans-serif;
    font-style: normal;
}

.h1_styles_css {

    background-color: #003049;
    color: white;
    padding: 15px;

}

.h3_styles_css {

    background-color: #669BBC;
    color: white;
    padding: 15px;

}